body{
	margin: 0;
	padding: 0;
}
.e_start{
	width: 100%;
	height: 100%;
}
.e_start_header{
	width: 100%;
	height: 3rem;
	text-align: center;
	position: fixed;
	line-height: 3rem;
	border-bottom: solid 0.01rem;
	border-top: solid 0.01rem;
	background-color: white;
}
.e_start_space{
	width: 100%;
	height: 2rem;
}
.header_left{
	float: left;
	margin-left: 1rem;
}
.e_start_body{
	width: 100%;
    height: 15rem;
    background-image: url(../img/e_start_img/e_start_header.png);
    background-size: 21.3rem;
    background-repeat: no-repeat;
}
.e_start_headerxia{
	width: 100%;
	height: 7.5rem;
}
.e_start_body_zhgjs{
	width: 95%;
    height: 4rem;
    display: block;
    margin-left: 2.5%;
    border: solid 0.03rem #8888;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.4rem #888888;
}
ul{
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 4rem;
}
li{
	
	flex: 0 0 20%;
	height: 4rem;
}
.e_start-img1{
	display: block;
	margin-top: 0.5rem;
}
a{
	text-decoration: none;
	font-size: 0.5rem;
	color: black;
	text-align: center;
}
.e_start_gjs{
	display: block;
	margin-top: 0.3rem;
}
.e_start_tzkx{
	width: 100%;
	height: 4rem;
	margin-left: 1rem;
	margin-top: 1rem;
}
.e_start_tzkx_left{
	width: 10%;
	height: 4rem;
	float: left;
}
.e_start_red{
	color: red;
	font-size: 1rem;
}
.e_start_black{
	color: black;
	font-size: 1rem;
}
.e_start_tzkx_mid{
	width: 2rem;
	height: 4rem;
	font-size: 1.2rem;
	color: #888888;
	text-align: center;
	line-height: 3rem;
	float: left;
}
.e_start_tzkx_right{
	width: 70%;
	height: 4rem;
}
.e_start_tzkx_xiao{
	font-size: 0.3rem;
}
.e_start_mnjy{
	width: 95%;
	height: 5rem;
	margin: auto;
}
.e_start_wudazh{
	width: 80%;
	height: 5rem;
	margin: auto;
	line-height: 5rem;
}
.e_start_yuan1{
	width: 7%;
	height: 5rem;
	line-height: 4.5rem;
	float: left;
}
.e_start_yuan2{
	width: 7%;
	height: 5rem;
	line-height: 4.7rem;
	float: left;
}
.e_start_yuan3{
	width: 7%;
	height: 5rem;
	line-height: 5rem;
	float: left;
}
.e_start_wdzhjycp{
	width: 50%;
	height: 1.5rem;
	line-height: 1.5rem;
	margin-left: 0.5rem;
	margin-top: 1.4rem;
	border: solid 0.05rem white;
	float: left;
	border-radius: 2rem;
	background-color: #f1a73424;
	text-align: center;
	font-size: 0.7rem;
	padding: 0;
	color:darkgoldenrod;
}
.e_start_huayuan{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	float: right;
	margin-top: 0.4rem;
	margin-right: 0.5rem;
	line-height: 0.7rem;
	font-size: 0.4rem;
	border: solid 0.05rem darkgoldenrod;
}
.e_start_wudaxia1{
	width: 95%;
	height: 14rem;
	margin: auto;
}
.e_start_wudaxia1_header{
	width: 100%;
	height: 4rem;
	background-color: #B8860B;
	border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.e_start_wudaxia1_headerleft{
	width: 70%;
	height: 4rem;
	margin-left: 1rem;
	color: white;
	float: left;
}
.e_start_lijigoumai{
	color: #FF0000;
}
.e_start_wudaxia1_headerleftshang{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 1rem;
}
.e_start_wudaxia1_headerleftxia{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.9rem;
}
.e_start_whl{
	margin-right: 0.5rem;
}
.e_start_wudaxia1_headerright{
	float: right;
	width: 18%;
	height: 1.5rem;
	line-height: 1.5rem;
	background-color: white;
	color: #FF0000;
	margin-top: 1.2rem;
	margin-right: 0.8rem;
	border-radius: 0.7rem;
	font-size: 0.8rem;
	text-align: center;
}
.e_start_wudaxia1_body1{
	width: 100%;
	height: 5rem;
}
.e_start_wudaxia1_body1left{
	width: 50%;
	height: 5rem;
	float: left;
}
.e_start_hqyuan{
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 50%;
	background-color: #B8860B;
	margin-left: 1rem;
	margin-top: 1rem;
	margin-right: 0.5rem;
	float: left;
	text-align: center;
}
.e_start_hqyuan2{
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 50%;
	background-color: #B8860B;
	margin-left: 0.5rem;
	margin-top: 1rem;
	margin-right: 0.5rem;
	float: left;
	text-align: center;
}
.e_start_wudaxia1_body1right{
	width: 50%;
	height: 5rem;

	float: right;
}
.e_start_hangqingzx{
	display: inline-block;
	margin-top: 1rem;
}
.e_start_hangqingjzzw{
	font-size: 0.7rem;
	display: inline-block;
	color: #888888;
}
.e_start_wudaxia1_body2{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	margin: 0;
	border-bottom: solid 0.05rem #8888;
	border-top: solid 0.05rem #8888;
}
.e_start_wudaxia1_body3{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	margin: 0;
}
.e_start_wudaxia1_cfx{
	width: 3rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	margin-left: 1rem;
	margin-top: 0.5rem;
	border: solid 0.05rem #B8860B;
	border-radius: 0.2rem;
	font-size: 0.5rem;
	color: #B8860B;
	float: left;
}
.e_start_wudaxia1_youjh{
	width: 73%;
	height: 2rem;
	line-height: 2rem;
	float: left;
	margin-left: 1rem;
	text-align: left;
	font-size: 0.8rem;
}
.e_start_youjiantou{
	float: right;
	width: 3%;
	height: 2rem;
	line-height: 2.5rem;
	margin-right: 0.5rem;
}
.e_start_wudaxia1_header2{
	width: 100%;
    height: 4rem;
    background-color: #e55252;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.e_start_wudaxia1_header3{
	width: 100%;
    height: 4rem;
    background-color: #50456e;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.e_start_wudaxia1_header4{
	width: 100%;
    height: 4rem;
    background-color: #df2525;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.e_start_wudaxia1_header5{
	width: 100%;
    height: 4rem;
    background-color: #4faea8;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.e_start_hqyuan_5{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #4faea8;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan2_5{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #4faea8;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan_4{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #df2525;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan2_4{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #df2525;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan_3{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #50456e;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan2_3{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #50456e;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan_2{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #e55252;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
.e_start_hqyuan2_2{
	width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    background-color: #e55252;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
    float: left;
    text-align: center;
}
