.life_head{
	width: 100%;
	height: 3.125rem;
	background-color: transparent;
	position: fixed;
	top: 0;
	z-index: 2;
}
body{
	margin: 0;
}
.life_head input{
	border-radius: 0.9375rem;
	border:0rem solid red;
	margin-top: 0.8rem;
	margin-left: 1.0rem;
	position: absolute;
	height: 1.5625rem;
	width: 60%;
	
}
.life_head a{
	display: inline-block;
	margin-top:0.8rem ;
	text-decoration: none;
	color: black;
}
#img_1 {
	height: 1.5rem;
	width: 1.5rem;
	right: 2.5rem;
	top: 1.0rem;
	position: absolute;
}
#img_2{
	height: 1.5rem;
	width: 1.5rem;
	right: 0.5rem;
	top: 1.0rem;
	position: absolute;
} 
.life_carousel{
	background-color: white;
	width: 100%;
	height: 11.25rem;
	position: absolute;
	top:0rem;
	z-index: 1;
	overflow: hidden;
}
.big_carousel{
	width: 450%;
	height:11.25rem ;
	position: absolute;
	top: 0;
	animation: a;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	
}
@keyframes a{
	0%{
		margin-left: 0;
	}
	50%{
		margin-left: -100%;
	}
	100%{
		margin-left: -200%;
	}
}
.big_carousel :nth-child(1){
	margin-left: 0;
	
}
.big_carousel :nth-child(2){
	margin-left: 0%;
}
.big_carousel :nth-child(3){
	margin-left: 0%;
}
.life_classify{
	height: 11.25rem;
	width: 100%;
	background-color: yellow;
	position: absolute;
	top: 11.25rem;
	display: flex;
	flex-wrap: wrap;
}
.life_classify_1{
	vertical-align: middle;    /* 图片居中 */
	display: table-cell;
	text-align: center;
	width: 25%;
	height: 50%;
	background-color: white;
}
.life_classify_1 p{
	line-height: 0rem;
	font-size: 0.875rem;
}
.life_classify_1 img{
	height: 40%;
	width: 40%;
	margin-top: 0.5rem;
}
.grade{
	width: 90%;
	margin-left: 5%;
	border-radius: 0.9375rem;
	background-color: lightgoldenrodyellow;
	height: 1.875rem;
	position: absolute;
	top: 22.5rem;
}
.grade span{
	text-align: center;
	margin-left: 2.975rem;
}
#span_1{
	color: red;
	margin-left: 0;
}

 ul,li{
            list-style: none;
			background-color: black;
			padding-inline-start:0
        }
        .slide-box{
            margin-top:33.625rem;
            display: -webkit-box;
            overflow-x: auto;
            /*适应苹果*/
           /* -webkit-overflow-scrolling:touch; */
        }
        .slide-item{
            width: 25%;
            height: 6.25rem;
            border:0px solid #ccc;
            /* margin-right: 0.025rem; */
            background: pink;
        }
        /*隐藏掉滚动条*/
        .slide-box::-webkit-scrollbar {
            display: none;
        }
.little_box{
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	margin-left: 0;
}
.little_box img{
	height: 100%;
	width: 100%;
}
 .hot{
    top:24.875rem;
    position: absolute;
   /* background-color: pink; */
    height: 6.25rem;
	display: flex;
	width: 100%;
     }
.hot span{
	display: inline-block;
	width: 6.25rem;
	height: 0.625rem;
/* 	font-weight: bolder; */
	font-size: 1.1875rem;
}
.hot div{
	height: 65%;
    width: 45%;
    margin-left: 2%;
    margin-top: 10%;
    background-color: lightsalmon;
    position: absolute;
}
.hot :nth-child(3){
	height: 65%;
	width: 45%;
	margin-left: 50%;
	margin-top: 10%;
	background-color: lightsalmon;
	position: absolute;
}
.hot div img{
	height: 100%;
	width: 100%;
}
.span_e{
	position: absolute;
	top: 32rem;
	display: inline-block;
	font-size: 1.1875rem;
}
.span_j{
	font-size: 1.1875rem;
}
.ad{
	width: 100%;
	height: 9.375rem;
	margin-top: 0.3125rem;
}
.ad img{
	height: 100%;
	width: 100%;
}