body{
	margin: 0;
}
a{
	text-decoration: none;
	color: #333333;
}
p{
	margin-block-start: 0em;
    margin-block-end: 0em;
}
.mine-header{
	width: 100%;
	height: 3.125rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.mine-adress{
	padding-left: 0.5625rem;
	width: 20%;
	height: 100%;
	line-height: 3.125rem;
	font-size: 18px;
}
.mine-header-right{
	width: 22%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.mine-message{
	width: 50%;
	height: 100%;
	line-height: 3.125rem;
}
.mine-message img{
		text-align: center;
	vertical-align: middle;
	width: 2.1875rem;
}
.mine-add{
	width: 50%;
	height: 100%;
	line-height: 3.125rem;
}
.mine-add img{
		text-align: center;
	vertical-align: middle;
	width: 1.675rem;
}
.mine-people{
	width: 100%;
	height: 5.0rem;

	line-height: 5.0rem;
	display: flex;
	flex-direction: row;
}
.mine-people-left{
	width: 75%;
	height: 100%;
	line-height: 5.0rem;

}
.mine-people-right{
	width: 25%;
	height: 100%;
	font-size: 0.0625rem;
}

.mine-people-left img{
	vertical-align: middle;
	width: 3.75rem;
	padding-left: 0.75rem;
}
.mine-people-text{
	width: 65%;
	height: 100%;
	display: inline;

}
.mine-people-text-one{
	font-size: 1.5625rem;

}
.mine-people-text-two{
	font-size: 0.625rem;

}
.mine-people-right img{
	width: 2rem;
	vertical-align: middle;
}

.mine-money{
	width: 90%;
	height: 7rem;
	margin: 0 auto;
	box-shadow: 0px 3px 3px #333;
}
.money-one{
	padding-left: 0.9375rem;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.75rem;
}
.money-one img{
	width: 1.625rem;
	vertical-align: middle;
}
.money-two{
	padding-left: 0.9375rem;
	font-size: 1.7rem;
	width: 100%;
	height: 2.0rem;
	line-height: 2.0rem;
}
.money-two img{
	float: right;
	width: 1.375rem;
	padding-right: 1.6875rem;
	padding-top: 0.5rem;
}
.money-three{
	padding-left: 0.9375rem;
	font-size: 0.5rem;
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	color: darkgrey;
}

.mine-sliding{
	margin-top: 1.25rem;
	width: 100%;
	height: 7rem;
	display: -webkit-box;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.mine-sliding-item{
	width: 25%;
	height: 100%;

	display: flex;
    justify-content: center;
    align-items: center;

}
.mine-sliding-item img{
	width: 3rem;

}
.mine-sliding-item p{
	font-size: 0.875rem;
	text-align: center;
	vertical-align: middle;

}
.mine-sliding-item-yun{
	padding-top: 0.9925rem;
}
.mine-gap{
	width: 100%;
	height: 0.65rem;
	background-color: #e3e4e6;
}

.mine-choose{
	width: 100%;
	height: 20.5rem;
}
.mine-choose-box{
	margin: 0 auto;
	max-width: 80%;
	border-bottom: 1px solid #E3E4E6;
	width: 100%;
	height: 13.33%;
	line-height: 3.0rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.mine-choose-box img{
	width: 1.0625rem;
	vertical-align: middle;
}
.mine-choose-box span{
	vertical-align: middle;
}
.mine-choose-box-right span{
	font-size: 0.625rem;
	color: #A9A9A9;
}
.mine-choose-box-right img{
	width:  0.475rem;
	
}
